.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.5rem;

  &-header {
    padding: 0.5rem 1.5rem;

    &-title {
      font-size: 25px;
      margin-bottom: 10px;
      &-info {
        background-color: $--bs-info;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 0.5rem;
        color: $--bs-white;
        float: right;
      }
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 0.5rem 1.5rem;
  }
}

